// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 VICHARAK IN
 */

/dts-v1/;
#include "rk3399-vaaman-01.dtsi"

/ {
	model = "VICHARAK VAAMAN V0.1";
	compatible = "vicharak,vaaman", "vicharak,vaaman-01", "rockchip,rk3399";

	aliases {
		mmc2 = &sdio0;
	};
};

&sdio0 {
	status = "okay";

	rtl8822cs_wifi: wifi@1 {
		reg		= <1>;
		interrupt-parent = <&gpio0>;
		interrupts	= <RK_PA3 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names	= "host-wake";
		pinctrl-names	= "default";
		pinctrl-0	= <&wifi_host_wake_l>;
	};
};

&uart0 {
	status = "okay";

	bluetooth {
		compatible	= "realtek,rtl8822cs-bt";
		clocks		= <&rk808 1>;
		clock-names	= "lpo";
		max-speed	= <1500000>;
		pinctrl-names	= "default";
		pinctrl-0	= <&bt_host_wake_l &bt_wake_l &bt_enable_h>;
		vbat-supply	= <&vcc3v3_sys>;
		vddio-supply	= <&vcc_1v8>;
		
		/* Because chip supports RTSCTS */
	        uart-has-rtscts;

		/* Bluetooth chipset GPIOs */
		device-wakeup-gpios	= <&gpio2 RK_PD3 GPIO_ACTIVE_HIGH>;
		host-wakeup-gpios	= <&gpio0 RK_PA4 GPIO_ACTIVE_HIGH>;
		shutdown-gpios		= <&gpio0 RK_PB1 GPIO_ACTIVE_HIGH>;
	};

};
