// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

#include "rk3568-evb1-ddr4-v10.dtsi"
#include "rk3568-android.dtsi"

/ {
	model = "Rockchip RK3568 Rock 3A";

	gpio-leds {
		compatible = "gpio-leds";
		status = "okay";

		user-led {
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;	//GPIO0_B7
			linux,default-trigger = "heartbeat";
			default-state = "on";
			pinctrl-0 = <&user_led>;
		};

		wifi-led {
			gpios = <&gpio2 8 GPIO_ACTIVE_HIGH>;	//GPIO2_B0
			linux,default-trigger = "rfkill2";
			default-state = "on";
			pinctrl-0 = <&wifi_led>;
		};
	};
};

// enable hdmi, connect to vp0
&hdmi {
       status = "okay";
};

&hdmi_in_vp0 {
       status = "okay";
};

&hdmi_in_vp1 {
       status = "disabled";
};

&hdmi_sound {
       status = "okay";
};

// disable edp
&edp {
       status = "disabled";
};

&edp_phy {
       status = "disabled";
};

&edp_in_vp0 {
       status = "disabled";
};

&edp_in_vp1 {
       status = "disabled";
};

// disable dsi0
&dsi0 {
        status = "disabled";
};

&dsi0_in_vp0 {
        status = "disabled";
};

&dsi0_in_vp1 {
        status = "disabled";
};

// disable dsi1
&dsi1 {
        status = "disabled";
};

&dsi1_in_vp0 {
        status = "disabled";
};

&dsi1_in_vp1 {
        status = "disabled";
};


&pinctrl {
	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <3 RK_PD4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <3 RK_PD5 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	wireless-bluetooth {
		uart1_gpios: uart1-gpios {
			rockchip,pins = <2 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
/*
		bt_reset_gpio: bt-reset-gpio {
			rockchip,pins = <4 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_wake_gpio: bt-wake-gpio {
			rockchip,pins = <4 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_irq_gpio: bt-irq-gpio {
			rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_down>;
		};
*/
	};

	headphone {
		hp_det: hp-det {
			rockchip,pins = <2 RK_PD2 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	leds {
		user_led: user-led {
			rockchip,pins = <0 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		wifi_led: wifi-led {
			rockchip,pins = <2 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

// wifi
&sdmmc2 {
	//max-frequency = <150000000>;
	max-frequency = <100000000>;
	supports-sdio;
	bus-width = <4>;
	disable-wp;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc2m0_bus4 &sdmmc2m0_cmd &sdmmc2m0_clk>;
	sd-uhs-sdr104;
	status = "okay";
};

&sdio_pwrseq{
    compatible = "mmc-pwrseq-simple";
    clocks = <&rk809 1>;
    clock-names = "ext_clock";
    pinctrl-names = "default";
    pinctrl-0 = <&wifi_enable_h>;

    /*
        * On the module itself this is one of these (depending
        * on the actual card populated):
        * - SDIO_RESET_L_WL_REG_ON
        * - PDN (power down when low)
        */
    reset-gpios = <&gpio3 RK_PD4 GPIO_ACTIVE_LOW>;		//WIFI_REG_ON_H
};

&wireless_wlan {
    compatible = "wlan-platdata";
    clocks = <&rk809 1>;
    clock-names = "clk_wifi";
    rockchip,grf = <&grf>;
    wifi_chip_type = "ap6256";
    pinctrl-names = "default";
    pinctrl-0 = <&wifi_host_wake_irq>;
    WIFI,host_wake_irq = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;		//WIFI_WAKE_HOST_H
    status = "okay";
};

// bt
&wireless_bluetooth {
    compatible = "bluetooth-platdata";
    clocks = <&rk809 1>;
    clock-names = "ext_clock";
    //wifi-bt-power-toggle;
    uart_rts_gpios = <&gpio2 RK_PB5 GPIO_ACTIVE_LOW>;
    pinctrl-names = "default", "rts_gpio";
    pinctrl-0 = <&uart1m0_rtsn>;
    // pinctrl-0 = <&uart1m0_rtsn>, <&bt_reset_gpio>, <&bt_wake_gpio>, <&bt_irq_gpio>;
    pinctrl-1 = <&uart1_gpios>;
    BT,reset_gpio    = <&gpio4 RK_PB2 GPIO_ACTIVE_HIGH>;	//BT_REG_ON_H
    BT,wake_gpio     = <&gpio4 RK_PB5 GPIO_ACTIVE_HIGH>;	//HOST_WAKE_BT_H
    BT,wake_host_irq = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;	//BT_WAKE_HOST_H
    status = "okay";
};

&i2c4 {
	pinctrl-0 = <&i2c4m1_xfer>;
        status = "disabled";
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m0_xfer &uart1m0_ctsn>;
};

&uart8 {
	status = "disabled";
};

// wired network
// disable gmac0
&gmac0 {
	status = "disabled";
};

// override gmac1
&gmac1 {
	phy-mode = "rgmii";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio3 RK_PB0 GPIO_ACTIVE_LOW>;      //GMAC1_RSTn_GPIO3_B0
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>;
	assigned-clock-rates = <0>, <125000000>;

	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m1_miim
		&gmac1m1_tx_bus2
		&gmac1m1_rx_bus2
		&gmac1m1_rgmii_clk
		&gmac1m1_rgmii_bus>;

	tx_delay = <0x4f>;
	rx_delay = <0x26>;

	phy-handle = <&rgmii_phy1>;
	status = "okay";
};

